h1, h2, h3, h4, p, span{
	font-family: 'Playfair Display', serif;
}

.flexit{
	display: flex;
	align-items:center;
	justify-content:center;
}

.flexit.c-b{
	align-items:flex-end;
}

.flexit.l-c{
	justify-content:flex-start;
}

.txtc{
	text-align: center;
}

section#crear{
	padding: 50px 0;
}

section div.choice{
	padding: 20px;
}

section div.box{
	border: 1px solid transparent;
	transition: border 1s;
	border-style: dashed;
	color: black;
}

section div.box:hover{
	border: 1px solid black;
	border-style: dashed;
	cursor: pointer;
	text-decoration: none;
}

section div.choice a:hover{
	text-decoration: none;
}

section div.box img{
	width: 100%;
}

div#spinner{
	position: fixed;
    z-index: 99;
    width: 100%;
    height: 100%;
    background-color: white;
    opacity: .8;
}

.content{
	padding: 50px 0;
}

.content img{
	width: 100%
}

.content .desc button{
	margin:0 5px;
}

.colors>.color{
	border: 1px solid #888;
    width: 50px;
    height: 50px;
    margin: 0 5px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.colors>.color:hover{
	cursor: pointer;
}

.colors>.color.active{
	border: 3px solid #888;
}

.colors>.color:first-of-type{
    margin-left: 0px
}

.colors>.color:last-of-type{
    margin-right: 0px
}

.colors>.color.blank{
	background-image: url(../img/option_1.jpg);
}
.colors>.color.red{
	background-image: url(../img/option_2.jpg);
}

.colors>.color.blue{
	background-image: url(../img/option_3.jpg);
}

.colors>.color.yellow{
	background-image: url(../img/option_4.jpg);
}

#images img{
	display: none;
}

#images img.active{
	display: block;
}

